:root {
    --pastel-blue100: #9dfaff;
    --pastel-blue200: #68c5ca;
    --pastel-blue300: #2e9398;
    --pastel-blue400: #006369;
    --pastel-blue500: #00373d;

    --pastel-pink100: #fbd0fe;
    --pastel-pink200: #c9a0cc;
    --pastel-pink300: #98729c;
    --pastel-pink400: #6b466e;
    --pastel-pink500: #401f44;
}
